<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="x.chestnut.code.snippet">

    <application
        android:icon="@mipmap/ic_launcher"
        android:name=".base.CodeSnippetApplication"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <meta-data android:value="${NAME}" android:name="NAME"/>

        <activity android:name=".ui.fragment.backStack.BackFragmentActivity" />
        <activity android:name=".ui.fragment.bottomTab.BottomTabFragmentActivity" />
        <activity android:name=".ui.fragment.lazyLoad.FragmentLazyLoadActivity" />
        <activity android:name=".contract.MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>